*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  min-width: 100vw;
  min-height: 100vh;
}

main{
  width: 62.6rem;
  height: 48.6rem;
  margin: 6.4rem auto;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4rem;
  margin: 3.2rem auto 1.6rem;
  color: #3F3D56;
}

h1 span{
  color: #EE24FF;
}

.text p{
  line-height: 2.2rem;
  font-size: 1.5rem;
  color: #828282;
  width: 54rem;
  height: 10.7rem;
  margin: 1.6rem auto 6.4rem;
}

p span{
  color: #3F3D56;
  font-weight: 700;
}

.line{
  border: 1px solid #ECEFF2;
  width: 39.1rem;
  margin: 0 auto 1.6rem;
}

footer a{
  text-decoration: none;
  color: #3F3D56;
  font-weight: 700;
}

footer a + a {
  margin-left: 4.2rem;
}

.wave img{
  color: #3F3D56;
  margin: 4rem auto 0;
  width: 100vw;
}


